/* General styling */

.meet-bree-container {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #FFFEF2;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.landing-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #FAF3EA;
}

.landing-content {
  text-align: center;
  padding: 5%;
}

/* Sidebar styling */
.sidebar--container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 350px;
  background-color: #f5eadc;
  transform: translateX(-100%);
  transition: transform 0.3s ease;

}

.sidebar--container.open {
  transform: translateX(0);
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 10%;
  width: 100%;
  height: 100%;
}

.usi-img {
  width: 80%;
  margin-top: 60px;
}

.usi {
  width: 56px;
  height: 56px;
  margin-top: 50%;
}

.meet-bree-container::-webkit-scrollbar {
  width: 8px;
}

.meet-bree-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

header {
  margin: 30px auto 20px auto;
}

.main-div {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  overflow: auto;
}

.chat {
  flex-grow: 1;
  overflow-y: scroll;
}

.message {
  display: flex;
  align-items: flex-start;
  padding: 10px 5%;
  max-width: 85%;
}

.message--content {
  color: #475569;
  font-size: 16px;
  max-width: max-content;
}

.message.client .message--content {
  color: #475569;
  font-size: 16px;
  max-width: max-content;
  border: 1px solid #C7C2BC;
  border-radius: 24px;
  padding: 10px 20px;
  gap: 10px;
  margin-top: 45px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08), 
              0 1px 3px rgba(0, 0, 0, 0.05);
}

.message.client .message--info {
  left: -20px;
  position: relative;
}

.message.admin .message--info {
  left: 20px;
  position: relative;
}

.message.me {
  flex-direction: row-reverse;
  text-align: right;
  margin-left: auto;
}


.message .input--B--image {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0px;
}

.message.admin {
  display: flex;
  align-items: flex-start;
  padding: 2% 4%;
  max-width: 85%;
}

.message.client {
  display: flex;
  align-items: flex-start;
  padding: 1% 2% 30px 2%;
  max-width: 85%;
  flex-direction: row-reverse;
  margin-left: auto;
}

.message.admin .message--content {

}

.message.client .message--content {

}

.message.me .input--B--image {
  margin-left: 10px;
}
.bottom--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.input--container {
  display: flex;
  align-items: center;
  border-radius: 60px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08), 
              0 1px 3px rgba(0, 0, 0, 0.05);
  margin: 10px 3%;
  flex-shrink: 0;
  padding: 1%;
  border: 1px solid #C7C2BC;
  font-family: 'Tomato Grotesk';
}

.input--B--image {
  width: 44px;
  height: 60px;
  background-color: #F5EADC;
  padding: 12px;
  border-radius: 50%;
  margin-right: 32px;
}
.input--input {
  width: 100%;
  background-color: #FFFEF2;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  border: none;
  outline: none;
  text-align: left;
  color: #475569;
}

.input--input::placeholder {
}

.input--send {
  cursor: pointer;
  background: #f5eadc;
  border: none;
  padding: 10px;
  border-radius: 20px;
  margin-left: 10px;
  font-size: 1rem;
}

.input--agree {
  color: #000;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}

.chat::-webkit-scrollbar {
  width: 8px;
}

.chat::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

/* Media queries */
@media (max-width: 768px) {
  .menu-button {
    width: 20px;
    height: 20px;
    color: #808080;
   
    display: block;
  }

  

  .input--agree {
    font-size: 0.45rem;
  }

  .sidebar--container {

    
    width: 70%;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .sidebar--container.open {
    
    transform: translateX(0);
  }

  .main-div {
    transition: transform 0.3s ease;
    
    margin-left: 0;
    flex: 1 1 auto;
  }

  .meet-bree-container.sidebar-open .main-div {
    
    transform: translateX(70%);
  }

  .message--content {
    margin: 5px 0;
    padding: 10px 15px;
    border-radius: 0px 10px 10px 10px;
    font-size: 0.875rem;
    line-height: 1.5;
    max-width: 80%;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .input--container {
    display: flex;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08), 
              0 1px 3px rgba(0, 0, 0, 0.05);
    width: 100%;
    padding: 10px;
    margin: 10px auto;
  }

  .input--input {
    background-color: #FFFEF2;
    width: 100%;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
  }

  .input--input::placeholder {
  }

  .send-button-container {
    background-color: #6B8D77;
    border-radius: 24px;
  }
  .bottom--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px; /* Adjust padding */
    margin-top: 10px; /* Reduce top margin */
  }
  .input--send {
    cursor: pointer;
    background: #f5eadc;
    border: none;
    padding: 10px;
    border-radius: 20px;
    margin-left: 10px;
    font-size: 1rem;
  }

  .message {
    padding: 10px 5%;
    max-width: 90%;
    display: flex;
    align-items: flex-start;
  }

  .message .input--B--image {
    width: 32px;
    height: 32px;
    margin-right: 2px;
    border-radius: 50%;
    object-fit: cover;
  }
  .input--B--image {
    width: 44px;
    height: 60px;
    background-color: #F5EADC;
    padding: 7px;
    border-radius: 50%;
    margin-right: 32px;
  }

  .message.me {
    flex-direction: row-reverse;
    text-align: right;
    margin-left: auto;
    padding-left: 10px;
  }

  .message.me .input--B--image {
    margin-left: 10px;
  }

  .message--content {
    border-radius: 0px 10px 10px 10px;
    max-width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .message.me .message--content {
    border-radius: 10px 0px 10px 10px;
    max-width: 100%;
  }

  .message.client .message--content {
    margin: 0px 13px;
  }

  .message.client .message--info {
    left: 0px;
    align-self: start;
    margin-top: 6px;
  }

  .message.client {
    align-items: center;
  }
}

@media (min-width: 769px) {
  .menu-button {
    
    display: none;
  }
  .sidebar--container {

    width: 80vw;
    transform: translateX(0);
    position: relative;
  }
  .main-div {
    padding-left: 0; /* Reset any previous padding */
    padding-right: 0; /* Reset any previous padding */

   /* Adjust margin to align with sidebar width */
  }

}

@media (max-width: 370px) {
  .nav-link {
    color: #000;
    text-align: center;
    font-size: 0.625rem;
    font-weight: 600;
    padding: 5px;
    border-radius: 30px;
  }
}

@media (max-width: 768px) {
  .MuiDialog-root .MuiDialog-container {
    align-items: flex-start;
  }
  .sidebar {
    margin-top: 20px; 
  }

  .MuiPaper-root {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    margin: 0;
    border-radius: 0;
  }
}

.MuiDialog-root {
  z-index: 1300 !important;
}

.MuiDialogTitle-root {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}

.MuiDialogTitle-root button {
  font-size: 1rem;
}
